*.csv
*.o
*.bak
src/generated_*
*.fifo
dependencies
solutions.json
population.gimage
debug/
release/
openmp/
profile/
cscope.out
Makefile.in
configure
depcomp
install-sh
m4/
missing
genie/compile
genie/aclocal.m4
genie/config.guess
genie/config.sub
genie/lib
genie/autom4te.cache
genie/config.h.in
